/* dashboard-container */
.content .dashboard-container  {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 80px;
  background-color: #f5f5f5;
  margin-left: var(--sidebar-width);
  width: fit-content;
}


/* table */
.dashboard-container .data-table{
  border-radius: 5px;
}
.dashboard-container .data-table-container{
  border-radius: 5px;
  width: auto;
  height: auto;
  margin-bottom: 20px;
}
.dashboard-container .data-table, .dashboard-container .data-table tr{
  border-bottom: 2px solid #f5f5f5;
  border-collapse: collapse;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px;
}

.dashboard-container .data-table th{
  text-align: right;
  font-weight: normal;
  padding: 20px 20px 20px 50px;
  border-bottom: 2px solid #c3c5c8;
}

.dashboard-container .data-table th:first-child{
  text-align: left;
  padding: 20px 50px 20px 20px;
}

.dashboard-container .data-table tr td{
  text-align: right;
  padding: 20px 20px 20px 50px;
}

.dashboard-container .data-table td:first-child {
  text-align: left;
  padding: 20px 50px 20px 20px;
}

.dashboard-container .data-table tfoot tr:last-child td{
  background-color: #fafbfb;
  font-weight: bold;
}


/* bottom of dashboard-container */
.dashboard-container .bottom{
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5; 
  /* display: table; */
}


/* chart */
.dashboard-container .chart-container{
  min-width: 200px;
  min-height: 200px;
  height: var(--chart-height);
  width: fit-content;
  background-color: white;
  flex: 1;
  margin: 20px;
  /* display: table-cell; */
}


/* add device */
.dashboard-container .add_device-container {
  min-width: 200px;
  min-height: 200px;
  height: var(--chart-height);
  background-color: white;
  flex: 1;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  /* display: table-cell; */
}

.dashboard-container .add_device-container input{
  width: 70%;
  padding: 20px;
  border: none;
  background-color: #f9f4f4 !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 6px;
  margin-top: 50px;
}

.dashboard-container .add_device-container button{
  width: 30%;
  border: none;
  background-color: #f28e19;
  border-radius: 10px;
  padding: 15px;
  font-size: 15px;
  margin: 50px;
}


/* responsive */
@media only screen and (max-width: 415px){
  .dashboard-container .data-table-container{
    display: none;
  }

  .content .dashboard-container{
    margin: 0px;
    padding: 0px;
    z-index: 1;
    width: 100vw;
  }

  .dashboard-container .bottom{
    flex-direction: column;
    margin-left: 0px;
  }

  .dashboard-container .chart-container{
    width: 85vw;
    margin: 60px 5px 30px 5px;
  }

  .dashboard-container .add_device-container{
    width: 85vw;
    margin: 5px;
  }

  .dashboard-container .add_device-container button{
    width: 50%;
  }
}

