* {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f5f5f5;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --sidebar-width: 250px;
  --chart-height: 486px;
}

input:focus{
  outline: 0.5px dotted #f28e19 !important;
}

button{
  color: white;
  font-weight: bold;
}

button:hover{
  transition: all 0.8s ease;
  transform: scale(1.05);
  cursor: pointer;
}

a{
  text-decoration: none;
}

a:hover{
  cursor: pointer;
  transition: all 0.8s ease;
  transform: scale(1.05);
}

i{
  font-size: 30px;
  width: 50px;
  height: 50px;
}

p, h1, h2, h3, h4, a{
  color: #747272;
  font-weight: bold;
}

table, tr{
  border: 1px solid #f5f5f5;
  border-radius: 10px;
  border-collapse: collapse;
  color: #747272;
}

td, th{
  padding: 10px;
}

/* hamburger button */
#hamburger-button{
  width: 50px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

#hamburger-button i{
  padding: 10px;
}

@media only screen and (max-width: 415px){
  #hamburger-button {
    display: block;
  }
  
}





/* login */
/* container */
.login-container{
  background-color: white;
  min-height: 370px;
  width: 40vw;
  height: 50vh;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container *:not(.child) { background-color: white;}

/* login form */
.login-container form{
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}

/* label */
.login-container h2, .login-container b{
  font-stretch: condensed;
  margin: 20px;
  margin-bottom: 40px;
}

/* login input */
.login-container input{
  width: 100%;
  padding: 20px;
  border: none;
  background-color: #f9f4f4 !important;
  margin-top: 30px;
}

/* button and link container */
.login-container .btn-container{
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* login button */
.login-container .btn-container button{
  width: 30%;
  border: none;
  background-color: #f28e19;
  border-radius: 10px;
  padding: 15px;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 5px;
}

/* register link */
.login-container .btn-container a{
  margin-left: 20px;
  color: #4d99f2 !important;
}

@media only screen and (max-width: 415px){
  .login-container{
    width: 90vw;
    top: 50%;
    left: 50%;
  }
}





/* notification */

/* container */
#notification {
  position: fixed;
  top: 70px;
  left: 32px;
  z-index: 3;
  background-color: transparent;
}

/* each notification */
.notification {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px 0;
  min-width: 400px;
  max-width: 450px;
  border-left: 4px solid;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  transition: all linear 0.3s;
}

.notification *:not(.child) { background-color: white;}


/* animation - added in notification.js*/
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(-100% + 32px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}


/* color for each notification type */
.notification-success {
  border-color: #47d864;
}

.notification-success .notification_icon {
  color: #47d864;
}

.notification-info {
  border-color: #2f86eb;
}

.notification-info .notification_icon {
  color: #2f86eb;
}

.notification-warning {
  border-color: #f28e19;
}

.notification-warning .notification_icon {
  color: #f28e19;
}

.notification-error {
  border-color: #ff623d;
}

.notification-error .notification_icon {
  color: #ff623d;
}


/* margin between each notification */
.notification + .notification {
  margin-top: 24px;
}


/* icon */
.notification_icon {
  font-size: 24px;
}

.notification_icon,
.notification_close {
  padding: 0 16px;
  transition: all 0.5s ease;
  background-color: transparent !important;
}

.notification_icon:hover, .notification_close:hover{
    transform: scale(1.2);
}

/* notification body */
.notification_body {
  flex-grow: 1;
}

/* title */
.notification_title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

/* message */
.notification_msg {
  font-size: 14px;
  color: #888;
  margin-top: 6px;
  line-height: 1.5;
}

/* close button */
.notification_close {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

/* responsive */
@media only screen and (max-width: 415px){
  #notification{
    width: 80vw;
  }
  .notification{
    max-width: 95vw;
    min-width: 80vw;
  }
}





/* menus */
/* container */
.menus{
  background-color: #f5f5f5;
  height: fit-content;
}

.menus *:not(.child) { 
  background-color: white;
}


/* topbar */
.menus .topbar{
  height: 60px;
  width: 100vw;
  z-index: 1;
  background-color: white;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menus .topbar *:not(.child) { 
  margin-right: 10px;
}

.menus .topbar a{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 50px !important;
}

.menus .topbar a i{
  padding: 10px 0px 10px 20px;
  color: black;
}


/* sidebar */
.menus .sidebar{
  z-index: 2;
  height: 100vh;
  width: var(--sidebar-width);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 8px;
}

.menus .sidebar .for-mobile{
  display: none;
}

.menus .sidebar .main-item a, .menus .sidebar .item a{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menus .sidebar .item a .active{
  color: #4d99f2;
}

.menus .sidebar a i{
  width: auto;
  height: auto;
  flex: 1;
  color: black;
}

.menus .sidebar a p{
  flex: 2;
}

.menus .sidebar .main-item{
  padding: 30px 22px;
}

.menus .sidebar .item{
  padding: 10px 25px;
}


/* content */
.content{
  background-color: #f5f5f5 !important;
}


/* responsive */
@media only screen and (max-width: 415px){
  .menus .topbar, .menus .sidebar .main-item{
    display: none;
  }

  .menus .sidebar{
    width: 40vw;
  }

  .menus .sidebar .item{
    padding: 10px 15px;
  }

  .menus .sidebar .item i{
    font-size: 25px;
  }

  .menus .sidebar .for-mobile, .menus .sidebar .for-mobile a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px;
  }

  .menus .sidebar .for-mobile a i{
    color: #d9d6d6;
  }

  .menus .sidebar .for-mobile a p{
    font-size: 14px;
    width: 100%;
  }

}






/* dashboard */
/* dashboard-container */
.content .dashboard-container  {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;
  margin-top: 50px;
  background-color: #f5f5f5;
  margin-left: var(--sidebar-width);
  width: fit-content;
}


/* table container */
.dashboard-container .data-table-container{
  overflow: auto;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  height: 60vh;
  margin-bottom: 20px;
}

/* table */
.dashboard-container .data-table{
  border-radius: 10px;
  table-layout: fixed;
}

/* table editing input */
.dashboard-container .data-table .dashboard-table-input{
  border: none;
  font-size: 16px;
  height: 100%;
  padding: 6px 2px;
  width: 150px;
}

.dashboard-container .data-table, .dashboard-container .data-table tr{
  border-bottom: 2px solid #f5f5f5;
  border-collapse: collapse;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px;
}

.dashboard-container .data-table th{
  text-align: right;
  font-weight: normal;
  padding: 20px 20px 20px 30px;
  border-bottom: 2px solid #c3c5c8;
}

.dashboard-container .data-table th:first-child{
  text-align: left;
  padding: 20px 30px 20px 20px;
}

.dashboard-container .data-table tr td{
  text-align: right;
  padding: 20px 20px 20px 30px;
}

.dashboard-container .data-table td:first-child {
  text-align: left;
  padding: 20px 30px 20px 20px;
}

/* total power row of table */
.dashboard-container .data-table tfoot tr:last-child td{
  background-color: #fafbfb;
  font-weight: bold;
}


/* delete button */
/* edit button */
.dashboard-container .data-table .dashboard-delete_row-btn
, .dashboard-container .data-table .dashboard-edit_row-btn{
  border: none;
  width: 35px;
  height: 35px;
}

.dashboard-container .data-table .dashboard-delete_row-btn:hover,
.dashboard-container .data-table .dashboard-edit_row-btn:hover{
  transform: scale(1.2);
}

.dashboard-container .data-table .dashboard-delete_row-btn:checked
, .dashboard-container .data-table .dashboard-edit_row-btn:checked{
  border: none;
}

.dashboard-container .data-table .dashboard-edit_row-btn i{
  padding: 5px;
  font-size: 23px;
  width: fit-content;
  height: fit-content;
  color: #f28e19;
}

.dashboard-container .data-table .dashboard-delete_row-btn i{
  padding: 5px;
  font-size: 23px;
  width: fit-content;
  height: fit-content;
  color: #ff623d;
}


/* bottom of dashboard-container */
.dashboard-container .bottom{
  width: 90%;
  overflow: visible !important;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5; 
  overflow: auto;
  scrollbar-width: thin;
}


/* chart */
.dashboard-container .chart-container{
  min-width: 200px;
  min-height: 200px;
  width: 45%;
  height: var(--chart-height);
  width: fit-content;
  background-color: white;
  flex: 1;
  margin: 20px;
  /* display: table-cell; */
}


/* add device */
.dashboard-container .add_device-container {
  min-width: 200px;
  min-height: 200px;
  width: 45%;
  height: var(--chart-height);
  background-color: white;
  flex: 1;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  /* display: table-cell; */
}

/* add device input */
.dashboard-container .add_device-container input{
  width: 80%;
  padding: 20px;
  border: none;
  background-color: #f9f4f4 !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 6px;
  margin-top: 70px;
}

/* add device button */
.dashboard-container .add_device-container button{
  width: 30%;
  border: none;
  background-color: #f28e19;
  border-radius: 10px;
  padding: 15px;
  font-size: 15px;
  margin: 50px;
}


/* responsive */
@media only screen and (max-width: 415px){
  .dashboard-container .data-table-container{
    display: none;
  }

  .content .dashboard-container{
    margin: 0px;
    padding: 0px;
    z-index: 1;
    width: 100vw;
  }

  .dashboard-container .bottom{
    flex-direction: column;
    margin-left: 0px;
    margin-bottom: 20px;
  }

  .dashboard-container .chart-container{
    width: 100%;
    margin: 60px 0px 30px 0px;
  }

  .dashboard-container .add_device-container{
    width: 100%;
    margin: 5px 0px;
  }

  .dashboard-container .add_device-container button{
    width: 50%;
  }
}






/* Logs */
/* container */
.content .logs-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px;
  background-color: #f5f5f5;
  margin-left: var(--sidebar-width);
  width: fit-content;
}


/* top */
.logs-container .top{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  margin-bottom: 10px;
}

/* top left */
.logs-container .top .left{
  float: left;
}

/* top right */
.logs-container .top .right{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}

/* search input */
.logs-container .top .right input{
  width: 60%;
  padding: 10px;
  border: none;
  background-color: #eae1e1 !important;
}

/* search button */
.logs-container .top .right button{
  width: 30%;
  border: none;
  background-color: #f28e19;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  margin-left: 20px;
}

.logs-container .top *:not(.child) { 
  background-color: #f5f5f5;
}


/* table container */
.logs-container .center{
  border-radius: 10px;
  width: auto;
  height: auto;
  margin-bottom: 20px;
}

/* table */
.logs-container .center .data-table{
  border-radius: 10px;
  table-layout: fixed;
}

.logs-container .data-table, .logs-container .data-table tr{
  border-bottom: 2px solid #f5f5f5;
  border-collapse: collapse;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px;
}

.logs-container .data-table th{
  text-align: right;
  font-weight: normal;
  border-bottom: 2px solid #c3c5c8;
  padding: 20px 20px 20px 125px;
}

.logs-container .data-table tr td{
  text-align: right;
  padding: 20px 20px 20px 125px;
}

.logs-container .data-table td:first-child, .logs-container .data-table th:first-child {
  text-align: left;
  padding: 20px 300px 20px 20px;
}

.logs-container .data-table tfoot tr:last-child td{
  background-color: #fafbfb;
  font-weight: bold;
}


/* bottom pagination */
.logs-container .bottom, .logs-container .select-rows-table{
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* pagination button */
.logs-container .bottom .btn-pagination{
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #588ef8;
  border-width: 0;
  font-size: 20px;
  margin: 10px;
}

.logs-container .bottom .btn-pagination i {
  background-color: transparent;
  color: white;
  width: fit-content;
  height: fit-content;
}

/* current page in pagination buttons */
.logs-container .bottom .btn-currentPage{
  background-color: #f28e19;
}


/* select rows per page */
.logs-container .select-rows-table{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin-top: 20px;
}

/* label */
.logs-container .select-rows-table label{
  width: 30%;
  background-color: #f5f5f5 !important;
  font-weight: bold;
  margin-right: 10px;
}

/* set rows input */
.logs-container .select-rows-table input{
  width: 30%;
  padding: 10px;
  border: none;
  background-color: #eae1e1 !important;
}

/* set rows button */
.logs-container .select-rows-table button{
  width: 30%;
  border: none;
  background-color: #f28e19;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  margin-left: 20px;
}