* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*  notification message */

/* container */
#notification {
  position: fixed;
  top: 70px;
  left: 32px;
  z-index: 999999;
  background-color: transparent;
}

/* each notification */
.notification {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px 0;
  min-width: 400px;
  max-width: 450px;
  border-left: 4px solid;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  transition: all linear 0.3s;
}

.notification *:not(.child) { background-color: white;}


/* animation - added in notification.js*/
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(-100% + 32px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}


/* color for each notification type */
.notification-success {
  border-color: #47d864;
}

.notification-success .notification_icon {
  color: #47d864;
}

.notification-info {
  border-color: #2f86eb;
}

.notification-info .notification_icon {
  color: #2f86eb;
}

.notification-warning {
  border-color: #f28e19;
}

.notification-warning .notification_icon {
  color: #f28e19;
}

.notification-error {
  border-color: #ff623d;
}

.notification-error .notification_icon {
  color: #ff623d;
}


/* margin between each notification */
.notification + .notification {
  margin-top: 24px;
}


/* icon */
.notification_icon {
  font-size: 24px;
}

.notification_icon,
.notification_close {
  padding: 0 16px;
  transition: all 0.5s ease;
  background-color: transparent !important;
}

.notification_icon:hover, .notification_close:hover{
    transform: scale(1.2);
}

/* notification body */
.notification_body {
  flex-grow: 1;
}

/* title */
.notification_title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

/* message */
.notification_msg {
  font-size: 14px;
  color: #888;
  margin-top: 6px;
  line-height: 1.5;
}

/* close button */
.notification_close {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

/* responsive */
@media only screen and (max-width: 415px){
  #notification{
    width: 80vw;
  }
  .notification{
    max-width: 95vw;
    min-width: 80vw;
  }
}
